# удалим все исполняемые файлы и файлы с информацией отладки
*.exe
*.pdb
*.tlog
*.sln
*.vcxproj
*.vcxproj*
# удалим все файлы и папки с именем bin
bin
# удалим конкретный файл с секретными сведениями
\data\secret_key.txt
/Debug/*
.vs/
L15/Debug/*
L15/L15/Debug/*

